@charset "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* Estilos para formulario NavBar */
*{
	margin:0;
}
.corpoBody {
	height: 5rem;
	display: grid;
	grid-template-columns: 1fr 1fr; /* Duas colunas de tamanho igual */
	align-items: center; /* Alinha verticalmente os elementos */
	gap: 20px;
	margin: 0 auto; /* Espaçamento entre as colunas */
    background-color: #018dee;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 8rem;
	
}

.imagemTelaInicial {
	max-width: 18%; /* Tamanho máximo da imagem */
	height: auto; /* Altura automática para preservar a proporção */
}

.textoLogo {
	font-size: 20px;
	font-weight: bold;
	margin-left: 5px;
	letter-spacing: 1px;
	color: white;
}

.navbar {
	font-size: 18.5px;
	display: flex;
}

.navbar ul {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.navbar li {
	margin-left: 10px; /* Espaçamento entre os elementos */
	 margin-right: 10px;
}

.navbar li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.navbar li a:hover {
	color: #ff5500;
}

@media ( max-width : 767px) {
	.corpoBody {
		grid-template-columns: 1fr; /* Uma única coluna em telas menores */
	}
	.navbar {
		justify-content: center;
		/* Alinha os elementos ao centro em telas menores */
	}
}

/* Fim do menu */
.principal {
	display: grid;
	grid-template-columns: 50% 50%;
	/* Duas colunas com 50% de largura cada */
	grid-template-rows: auto; /* Uma linha de altura automática */
}

.textos {
	grid-column: 1/2;
	grid-row: 1;
	text-align: center;
	/* Alinha horizontalmente todos os elementos que estiverem dentro da div textos*/
}

.textos h1 {
	display: grid;
	margin: 0 auto; /* Centralizar horizontalmente */
	margin-top: 35px;
	font-size: 55px;
	font-family: 'Playfair Display', serif;
}

.formulario {
	text-align: justify;
	margin-top: 40px;
	margin-left: 80px;
	margin-right: 80px;
	font-size: 16.5px;
	font-family: 'Playfair Display', serif;
}

.paragrafo {
	line-height: 2;
	padding-left: 20px;
}
.linkPrincipal {
	width:6rem;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #3b9cf7;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.linkPrincipal:hover {
  background-color: #ff5500;
}


.imagemTelaInicial {
	grid-column: 2/2;
	grid-row: 1;
}

.imagemTelaInicial img {
	height: auto;
	object-fit: cover;
}

/* Mídias Query do projeto */